<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-justify-content-center ion-align-self-end ion-text-center">
      <h1>{{loginPage ? 'Login' : 'Sign Up'}}</h1>
      <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
        <div *ngIf="!loginPage" class="phone-number">
          <mat-form-field appearance="outline">
            <mat-label>User name</mat-label>
            <input matInput formControlName="username" type="text" required>
          </mat-form-field>
        </div>
        <div class="phone-number">
          <mat-form-field appearance="outline">
            <mat-label>Phone number</mat-label>
            <input matInput formControlName="telNumber" type="tel" required>
          </mat-form-field>
        </div>
        <div class="phone-number">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" required>
          </mat-form-field>
        </div>

        <!--    <div class="login-dialog__form&#45;&#45;item">-->
        <!--      <mat-form-field appearance="outline">-->
        <!--        <mat-label>Password</mat-label>-->
        <!--        <input [type]="isPassHide ? 'password' : 'text'" matInput formControlName="password" required>-->
        <!--        <button class="hide-pass"-->
        <!--                *ngIf="loginForm.controls.password.value"-->
        <!--                (click)="isPassHide = !isPassHide">-->
        <!--          <mat-icon svgIcon="gfg-material-hover-icon"-->
        <!--                    [ngClass]="{'orange-icon': !isPassHide, 'grey-icon': isPassHide}">-->
        <!--          </mat-icon>-->
        <!--        </button>-->
        <!--      </mat-form-field>-->
        <!--    </div>-->
        <ion-button expand="block" type="submit">Submit</ion-button>
      </form>
    </ion-col>
    <ion-button class="ion-align-self-end"
                fill="clear"
                routerLink="/{{loginPage ? 'auth/sign-up' : 'auth/login'}}"
                type="button">
      {{loginPage ? 'Sign Up' : 'Login'}}
    </ion-button>
  </ion-row>
</ion-content>
