<app-header></app-header>
<ion-content [fullscreen]="true">
  <div class="ion-text-center" *ngIf="!contacts">
    <ion-button routerLink="/contacts">Get Contacts</ion-button>
  </div>
  <ion-item *ngFor="let contact of contacts | async" (click)="contactChat(contact)">
    <ion-icon color="primary" slot="start" name="people"></ion-icon>
    <ion-label class="ion-text-wrap">
      <ion-text color="dark">
        <h3>{{contact.displayName}}</h3>
      </ion-text>
    </ion-label>
  </ion-item>
</ion-content>
